@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.top {
  position: relative;
  height: 79vh;
  margin: 1% auto 8%;
}
@media screen and (max-width: 768px) {
  .top {
    height: 84vh;
  }
}
.top_wrapper .slideShow {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 95%;
  height: 79vh;
  border-radius: 30px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .top_wrapper .slideShow {
    height: 84vh;
  }
}
.top_wrapper .slideShow .slide_img1 {
  background-image: url(../img/top1.jpg);
}
@media screen and (max-width: 480px) {
  .top_wrapper .slideShow .slide_img1 {
    background-position: 72% 0px !important;
  }
}
.top_wrapper .slideShow .slide_img2 {
  background-image: url(../img/top2.png);
}
.top_wrapper .slideShow .slide_img3 {
  background-image: url(../img/top3.png);
}
.top_wrapper .slideShow .slide {
  width: 90%;
  height: 79vh;
  border-radius: 30px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .top_wrapper .slideShow .slide {
    height: 84vh;
  }
}
.top_wrapper_text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .top_wrapper_text {
    left: 26%;
  }
}
@media screen and (max-width: 480px) {
  .top_wrapper_text {
    left: 45%;
  }
}
.top_wrapper_ttl {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 480px) {
  .top_wrapper_ttl {
    font-size: 2rem;
  }
}
.top_wrapper_txt {
  margin-top: 3%;
  font-size: 0.9rem;
  letter-spacing: 10px;
  line-height: 2;
  color: #fff;
  padding-left: 3%;
}
@media screen and (max-width: 480px) {
  .top_wrapper_txt {
    font-size: 0.7rem;
    white-space: nowrap;
  }
}

@keyframes fadezoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1); /* 拡大率 */
  }
}
.add-animation {
  animation: fadezoom 5s 0s forwards;
}

/*RECEPTION-TIME*/
.reception-time {
  position: absolute;
  top: 600px;
  right: 20px;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .reception-time {
    top: 1066px;
  }
}
@media screen and (max-width: 768px) {
  .reception-time {
    top: 758px;
    right: 12px;
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .reception-time {
    display: none;
  }
}
.reception-time.fixed {
  position: fixed;
  top: 150px;
  pointer-events: none;
  z-index: 100;
}
.reception-time.fixed .reception-time_inner {
  transform: translateX(calc(100% - 70px));
  transition: 0.6s;
}
.reception-time.fixed .reception-time_inner:hover {
  transform: translateX(0);
  transition: 0.6s;
}
.reception-time_inner {
  padding: 32px 64px 44px 4px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  pointer-events: auto;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .reception-time_inner {
    padding: 32px 32px 44px 4px;
  }
}
.reception-time_inner_ttl {
  padding: 4px 32px;
  margin-right: 48px;
  writing-mode: vertical-rl;
  white-space: nowrap;
  font-size: 1rem;
  letter-spacing: 0.5em;
  color: #F9D02F;
}
@media screen and (max-width: 768px) {
  .reception-time_inner_ttl {
    margin-right: 0%;
  }
}
.reception-time_inner_time-table th {
  padding: 20px 0;
  border-bottom: solid 1px #333;
}
.reception-time_inner_time-table th:first-child {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .reception-time_inner_time-table th:first-child {
    width: 25%;
  }
}
.reception-time_inner_time-table th:not(:first-child) {
  width: 60px;
}
.reception-time_inner_time-table_list_item ._noneline {
  border-bottom: none;
}
@media screen and (max-width: 768px) {
  .reception-time_inner_time-table_list_item ._noneline {
    font-size: 0.8rem;
  }
}
.reception-time_inner_time-table_list_item_check {
  padding: 20px 0;
  display: table-cell;
  align-items: center;
  line-height: 2;
  position: relative;
  top: 8px;
}
@media screen and (max-width: 768px) {
  .reception-time_inner_time-table_list_item_check {
    top: 4px;
  }
}
.reception-time_inner_time-table_list_item_check::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #91C3E0;
}
@media screen and (max-width: 768px) {
  .reception-time_inner_time-table_list_item_check::before {
    width: 15px;
    height: 15px;
  }
}
.reception-time_inner_time-table small {
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 0.04em;
  white-space: nowrap;
}

/*MENU*/
.menu {
  padding-top: 10%;
  margin-bottom: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu::before {
  top: 0;
  left: -50px;
}
@media screen and (max-width: 768px) {
  .menu {
    margin: 10% auto 25% !important;
  }
}
.menu_inner {
  text-align: center;
}
.menu_inner_txt {
  width: 50%;
  margin: 3% auto;
}
@media screen and (max-width: 768px) {
  .menu_inner_txt {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .menu_inner_txt {
    width: 80%;
    margin: 15% auto;
    font-size: 0.5rem;
    text-align: left;
  }
}
.menu_inner_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 5%;
}
@media screen and (max-width: 480px) {
  .menu_inner_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.menu_inner_list_item {
  width: 20%;
  max-width: 240px;
  margin-bottom: 66px;
  border: solid 3px #37A1DB;
  border-radius: 20px;
  padding: 1%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .menu_inner_list_item {
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 480px) {
  .menu_inner_list_item {
    width: 40%;
    margin-bottom: 3%;
  }
}
.menu_inner_list_item_img {
  width: 85px;
  height: 90px;
  margin: 30px auto;
}
@media screen and (max-width: 768px) {
  .menu_inner_list_item_img {
    width: 50%;
    margin: 20px auto 0;
  }
}
.menu_inner_list_item_img img {
  width: 100%;
}
.menu_inner_list_item ._img1 {
  margin: 30px auto;
  position: relative;
  top: 20px;
}
@media screen and (max-width: 768px) {
  .menu_inner_list_item ._img1 {
    margin: 20px auto 0;
    position: relative;
    top: 22px;
  }
}
.menu_inner_list_item ._img2 {
  width: 20%;
}
.menu_inner_list_item ._img3 {
  margin: 16px auto 12px;
}
@media screen and (max-width: 768px) {
  .menu_inner_list_item ._img3 {
    margin: 0 auto;
    position: relative;
    top: 22px;
  }
}
.menu_inner_list_item_ttl {
  margin-bottom: 5%;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .menu_inner_list_item_ttl {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 480px) {
  .menu_inner_list_item_ttl {
    font-size: 0.8rem;
  }
}

/*ABOUT*/
.about {
  position: relative;
  margin-top: 110px;
  padding-top: 10px;
}
.about::before {
  content: "";
  position: absolute;
  top: -107px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 108px;
  background-image: url(../img/Vector1.png);
  background-position: center;
}
.about_inner .subttl_2 {
  text-align: center;
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .about_inner .subttl_2 {
    margin-top: 11%;
  }
}
.about_inner .subttl_2 span {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #37A1DB;
  padding: 0 2% 0 1%;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .about_inner .subttl_2 span {
    font-size: 1rem;
  }
}
.about_inner_wrapper::before {
  top: -70px;
  left: -90px;
}
@media screen and (max-width: 768px) {
  .about_inner_wrapper::before {
    left: -50px;
  }
}
.about_inner_wrapper_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 5% auto;
}
@media screen and (max-width: 768px) {
  .about_inner_wrapper_container {
    width: 90%;
    flex-direction: column-reverse;
  }
}
.about_inner_wrapper_container_right {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .about_inner_wrapper_container_right {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .about_inner_wrapper_container_right {
    width: 90%;
  }
}
.about_inner_wrapper_container_right_txt p {
  font-size: 1.1rem;
  margin-bottom: 5%;
}
.about_inner_wrapper_container_right_txt p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .about_inner_wrapper_container_right_txt p {
    font-size: 0.8rem;
  }
}
.about_inner_wrapper_container_left {
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .about_inner_wrapper_container_left {
    width: 90%;
    margin-bottom: 10%;
    overflow: visible !important;
  }
}
.about_inner_wrapper_container_left_img {
  width: 100%;
  position: relative;
}
.about_inner_wrapper_container_left_img::before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(-45deg, #E7F5F8 0px, #E7F5F8 4px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
  background-size: 20px 20px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .about_inner_wrapper_container_left_img::before {
    bottom: -10px;
    right: -10px;
    background-image: repeating-linear-gradient(-45deg, #E7F5F8 0px, #E7F5F8 3px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
    background-size: 15px 15px;
  }
}
.about_inner_wrapper_container_left_img img {
  width: 100%;
  position: relative;
  z-index: 2;
}

/*TREATMENT*/
.treatment_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.treatment_inner_ttl {
  margin-top: none;
}
.treatment_inner_wrapper {
  overflow: hidden;
}
.treatment_inner_wrapper::before {
  top: 0;
  right: -125px;
}
@media screen and (max-width: 768px) {
  .treatment_inner_wrapper::before {
    right: -204px;
  }
}
.treatment_inner_wrapper p {
  margin-top: 5%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .treatment_inner_wrapper p {
    font-size: 0.7rem;
    margin-top: 15%;
  }
}
.treatment_inner_wrapper_list {
  width: 100%;
}
.treatment_inner_wrapper_list_item {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}
.treatment_inner_wrapper_list_item_items {
  width: 30%;
  max-width: 444px;
  height: 410px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 20px;
  padding: 2%;
  margin: 1% 1% 3%;
  counter-increment: number;
}
@media screen and (max-width: 768px) {
  .treatment_inner_wrapper_list_item_items {
    width: 100%;
    height: 460px;
  }
}
.treatment_inner_wrapper_list_item_items::before {
  content: counter(number, decimal-leading-zero);
  font-family: "Kiwi Maru", serif;
  font-size: 3rem;
  letter-spacing: 0px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #37A1DB;
  -webkit-text-fill-color: #fff;
}
@media screen and (max-width: 768px) {
  .treatment_inner_wrapper_list_item_items::before {
    position: relative;
    left: 20px;
  }
}
.treatment_inner_wrapper_list_item_items_ttl {
  text-align: center;
  padding-bottom: 3%;
  font-size: 1.5rem;
  font-weight: 400;
}
.treatment_inner_wrapper_list_item_items p {
  font-size: 0.8rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .treatment_inner_wrapper_list_item_items p {
    width: 80%;
    margin: 0 auto;
  }
}
.treatment_inner_wrapper_list_item_items_img {
  width: 35%;
  height: 100px;
  margin: 20px auto 0;
  position: relative;
}
.treatment_inner_wrapper_list_item_items_img img {
  width: 100%;
  text-align: center;
}
.treatment_inner_wrapper_list_item_items ._imgbig {
  width: 28%;
  height: 100px;
  margin: 0 auto;
}
.treatment_inner_wrapper_list_item_items ._img1 {
  top: 20px;
}
.treatment_inner_wrapper_list_item_items ._img2 {
  top: 0px;
}
@media screen and (max-width: 768px) {
  .treatment_inner_wrapper_list_item_items ._img2 {
    top: 20px;
  }
}
.treatment_inner_wrapper_list_item_items ._img3 {
  top: 0px;
}
@media screen and (max-width: 1024px) {
  .treatment_inner_wrapper_list_item_items ._img3 {
    top: 20px;
  }
}
.treatment_inner_wrapper_list_item_items ._img4 {
  width: 35%;
  top: 0px;
}
@media screen and (max-width: 1024px) {
  .treatment_inner_wrapper_list_item_items ._img4 {
    top: 25px;
  }
}
.treatment_inner_wrapper_list_item_items ._img5 {
  width: 28%;
  top: 5px;
}

/*FEATURE*/
.feature::before {
  top: 0;
  left: -30px;
}
.feature_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature_inner_wrapper p {
  text-align: center;
  margin-top: 5%;
}
@media screen and (max-width: 480px) {
  .feature_inner_wrapper p {
    font-size: 0.7rem;
    margin-top: 15%;
  }
}
.feature_inner_wrapper_list {
  width: 90%;
  margin: 5% auto;
}
@media screen and (max-width: 768px) {
  .feature_inner_wrapper_list {
    width: 65%;
  }
}
@media screen and (max-width: 480px) {
  .feature_inner_wrapper_list {
    width: 90%;
  }
}
.feature_inner_wrapper_list_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.feature_inner_wrapper_list_item::before {
  top: 100px;
  right: -200px;
}
@media screen and (max-width: 768px) {
  .feature_inner_wrapper_list_item::before {
    display: none !important;
  }
}
.feature_inner_wrapper_list_item_items {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .feature_inner_wrapper_list_item_items {
    width: 100%;
  }
}
.feature_inner_wrapper_list_item_items_img {
  width: 100%;
  margin: 0 auto;
}
.feature_inner_wrapper_list_item_items_img img {
  width: 100%;
  border-radius: 20px;
}
.feature_inner_wrapper_list_item_items_txt {
  margin-top: 2%;
  margin-bottom: 10%;
  background-color: #fff;
  color: #333;
  width: 100%;
  height: 230px;
  border-radius: 20px;
  padding-bottom: 10%;
}
@media screen and (max-width: 768px) {
  .feature_inner_wrapper_list_item_items_txt {
    padding-bottom: 13%;
  }
}
@media screen and (max-width: 480px) {
  .feature_inner_wrapper_list_item_items_txt {
    padding-bottom: 0;
  }
}
.feature_inner_wrapper_list_item_items_txt_ttl {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 10%;
}
@media screen and (max-width: 768px) {
  .feature_inner_wrapper_list_item_items_txt_ttl {
    padding-top: 15%;
  }
}
.feature_inner_wrapper_list_item_items_txt p {
  width: 75%;
  text-align: left;
  margin: 10% auto 5%;
}

/*CONTACT*/
.contact {
  position: relative;
  margin-top: 50px;
  padding-top: 10px;
}
.contact::before {
  content: "";
  position: absolute;
  top: -108px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 108px;
  background-image: url(../img/Vector2.png);
  background-position: center;
  background-repeat: no-repeat;
}
.contact-reserve_inner_wrapper {
  margin: 10% auto;
}
.contact-reserve_inner_wrapper p {
  margin-top: 10%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .contact-reserve_inner_wrapper p {
    font-size: 0.7rem;
  }
}
.contact-reserve_inner_wrapper_tel {
  width: 56%;
  margin: 1% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .contact-reserve_inner_wrapper_tel {
    width: 90%;
    margin: 5% auto 10%;
  }
}
.contact-reserve_inner_wrapper_tel_img {
  width: 10%;
}
@media screen and (max-width: 480px) {
  .contact-reserve_inner_wrapper_tel_img {
    width: 13%;
  }
}
.contact-reserve_inner_wrapper_tel_img img {
  width: 100%;
  position: relative;
  top: 2px;
}
.contact-reserve_inner_wrapper_tel h3 {
  font-size: 2.1rem;
  color: #37A1DB;
  padding-left: 1%;
}
@media screen and (max-width: 768px) {
  .contact-reserve_inner_wrapper_tel h3 {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 480px) {
  .contact-reserve_inner_wrapper_tel h3 {
    font-size: 1.1rem;
  }
}
.contact-reserve_inner_wrapper_time {
  width: 70%;
  margin: 3% auto;
}
@media screen and (max-width: 1024px) {
  .contact-reserve_inner_wrapper_time {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .contact-reserve_inner_wrapper_time {
    width: 90%;
  }
}
.contact-reserve_inner_wrapper_time_list {
  border: 3px solid #37A1DB;
  border-radius: 20px;
}
.contact-reserve_inner_wrapper_time_list_item {
  margin: 3% auto;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .contact-reserve_inner_wrapper_time_list_item {
    font-size: 0.8rem;
  }
}
.contact-reserve_inner_wrapper_time_list_item .font-weight {
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .contact-reserve_inner_wrapper_time_list_item th,
.contact-reserve_inner_wrapper_time_list_item td {
    display: block;
    text-align: left;
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 480px) {
  .contact-reserve_inner_wrapper_time_list_item th,
.contact-reserve_inner_wrapper_time_list_item td {
    margin-bottom: 6%;
  }
}
.contact-form {
  overflow: hidden;
}
.contact-form::before {
  top: 0;
  right: -70px;
}
@media screen and (max-width: 768px) {
  .contact-form::before {
    top: -7px;
    right: -194px;
  }
}
.contact-form_inner_wrapper_ttl {
  margin-bottom: 10%;
}
.contact-form_inner_wrapper p {
  margin-top: 5%;
  text-align: center;
}
.contact-form_inner_wrapper p:first-of-type {
  margin-top: 10%;
}
@media screen and (max-width: 480px) {
  .contact-form_inner_wrapper p {
    font-size: 0.7rem;
  }
}
.contact-form_inner_wrapper_line {
  position: relative;
  margin: 5% auto;
}
@media screen and (max-width: 480px) {
  .contact-form_inner_wrapper_line {
    margin: 10% auto;
  }
}
.contact-form_inner_wrapper_line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 475px;
  height: 1px;
  background-color: #333;
}
@media screen and (max-width: 768px) {
  .contact-form_inner_wrapper_line::before {
    width: 270px;
  }
}
.contact-form_inner_wrapper_form::before {
  bottom: 0;
  left: -90px;
}
@media screen and (max-width: 768px) {
  .contact-form_inner_wrapper_form::before {
    display: none;
  }
}
.contact_form {
  width: 80%;
  margin: 10% auto 5%;
}
@media screen and (max-width: 768px) {
  .contact_form {
    width: 90%;
  }
}
.contact_box {
  display: flex;
  margin-bottom: 5%;
}
@media screen and (max-width: 480px) {
  .contact_box {
    display: block;
  }
}
.contact_box .area {
  align-items: baseline;
}
.contact_box_ttl {
  width: 30%;
  height: 100%;
  font-size: 1.1rem;
}
@media screen and (max-width: 768px) {
  .contact_box_ttl {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .contact_box_ttl {
    display: block;
    font-size: 1rem;
    width: 100%;
    line-height: 3;
  }
}
.contact_box_form {
  width: 70%;
  height: 5.5vh;
  font-size: 1.1rem;
  color: #999;
  padding-left: 5px;
  border: 3px solid #91C3E0;
  border-radius: 10px;
}
@media screen and (max-width: 480px) {
  .contact_box_form {
    display: block;
    width: 100%;
  }
}
.contact_box ._select {
  width: 73%;
  height: 6.5vh;
  color: #999;
}
.contact_box_textarea {
  width: 70%;
  height: 30vh;
  font-size: 1.1rem;
  color: #999;
  padding: 5px;
  border: 3px solid #91C3E0;
  border-radius: 10px;
}
@media screen and (max-width: 480px) {
  .contact_box_textarea {
    width: 100%;
  }
}
.contact_btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #91C3E0;
  color: #fff;
  border: solid 1px #91C3E0;
  border-radius: 20px;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 2% 8%;
}
@media screen and (max-width: 480px) {
  .contact_btn {
    padding: 5% 25%;
  }
}
.contact_btn:hover {
  color: #91C3E0;
  background-color: #fff;
  transition: 0.4s;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
  padding-top: 100px;
}
@media screen and (max-width: 480px) {
  body {
    padding-top: 77px;
  }
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

._kiwi {
  font-family: "Kiwi Maru", serif;
}

.section_inner {
  width: 90%;
  margin: 5% auto;
}

main {
  margin-bottom: 10%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  main {
    margin-bottom: 15%;
  }
}

.ttl {
  font-size: 2.3rem;
  font-weight: 400;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 480px) {
  .ttl {
    font-size: 1.5rem;
  }
}
.ttl_anderline {
  display: block;
  margin: 5% auto;
}
.ttl_anderline::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
  .ttl_anderline::before {
    width: 42px;
    height: 2px;
  }
}
.ttl_anderline_w {
  display: block;
  margin-bottom: 5%;
}
.ttl_anderline_w::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -20px;
  left: 48%;
  background-color: #fff;
  background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
  .ttl_anderline_w::before {
    width: 42px;
    height: 2px;
    left: 44%;
  }
}

.subttl {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin-top: 10%;
}
@media screen and (max-width: 768px) {
  .subttl {
    font-size: 1.3rem;
    margin-top: 20%;
  }
}
.subttl_radius {
  display: block;
  margin-bottom: 5%;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 60px;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .subttl_radius {
    width: 10px;
    height: 10px;
    top: 45px;
  }
}
.subttl_radius::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin: 5%;
}
@media screen and (max-width: 768px) {
  .subttl_radius::before {
    width: 10px;
    height: 10px;
    left: 25px;
  }
}
.subttl_radius::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  right: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin: 5%;
}
@media screen and (max-width: 768px) {
  .subttl_radius::after {
    width: 10px;
    height: 10px;
    right: 25px;
  }
}
.subttl_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.diagonal-line {
  position: relative;
}
.diagonal-line::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: url(../img/asirai.png);
  z-index: 10;
  display: block;
}
@media screen and (max-width: 768px) {
  .diagonal-line::before {
    background-size: 50% 50%;
    background-repeat: no-repeat;
  }
}

.backgroundcolor_blue {
  background-color: #91C3E0;
  color: #fff;
  padding-bottom: 50px;
}
.backgroundcolor_blue::before {
  top: -182px;
  right: -60px;
}
@media screen and (max-width: 768px) {
  .backgroundcolor_blue::before {
    top: -129px;
    right: -192px;
  }
}

.backgroundcolor_white {
  background-color: #fff;
}
.backgroundcolor_white::before {
  top: -145px;
  left: 0;
}

.fadeUp {
  animation: fadeUpAnime 1s forwards;
  opacity: 0;
}

.box {
  opacity: 0;
}

.fadeLeft {
  animation: fadeLeftAnime 1s forwards;
  opacity: 0;
  overflow: hidden;
}

.fadeRight {
  animation: fadeRightAnime 1s forwards;
  opacity: 0;
  overflow: hidden;
}

.fadeUpTrigger,
.fadeLeftTrigger,
.fadeRightTrigger {
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (min-width: 680px) {
  .pc {
    display: inline;
  }
  .sp {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .pc {
    display: none;
  }
  .sp {
    display: inline;
  }
}
.footer::before {
  top: -200px;
  right: 0px;
}
@media screen and (max-width: 768px) {
  .footer::before {
    top: -130px;
    right: 107px;
  }
}
.footer_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .footer_1 {
    flex-direction: column-reverse;
  }
}
.footer_1_left {
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .footer_1_left {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .footer_1_left {
    width: 100%;
  }
}
.footer_1_left_inner {
  width: 90%;
  margin: 0 auto 0 10%;
}
@media screen and (max-width: 1024px) {
  .footer_1_left_inner {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner {
    width: 70%;
    margin: 5% auto;
  }
}
@media screen and (max-width: 480px) {
  .footer_1_left_inner {
    width: 90%;
  }
}
.footer_1_left_inner_img {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_img {
    margin-left: 5%;
  }
}
.footer_1_left_inner_img img {
  width: 100%;
}
.footer_1_left_inner_tel {
  width: 70%;
  margin: 5% auto;
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_tel {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .footer_1_left_inner_tel {
    width: 65%;
  }
}
@media screen and (max-width: 480px) {
  .footer_1_left_inner_tel span {
    font-size: 0.7rem;
  }
}
.footer_1_left_inner_tel_num {
  display: flex;
  align-items: center;
  margin-top: 3%;
}
.footer_1_left_inner_tel_num_img {
  width: 10%;
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_tel_num_img {
    display: none;
  }
}
.footer_1_left_inner_tel_num_img img {
  width: 100%;
}
.footer_1_left_inner_tel_num_item {
  font-size: 1.8rem;
  white-space: nowrap;
  color: #37A1DB;
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_tel_num_item {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 480px) {
  .footer_1_left_inner_tel_num_item {
    font-size: 1rem;
  }
}
.footer_1_left_inner_table {
  width: 85%;
  margin: 3% auto;
}
@media screen and (max-width: 480px) {
  .footer_1_left_inner_table {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .footer_1_left_inner_table table {
    font-size: 0.7rem;
  }
}
.footer_1_left_inner_table p {
  margin-top: 3%;
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_table p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_table th:first-child {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 480px) {
  .footer_1_left_inner_table th:first-child {
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_table th {
    width: 25%;
    font-weight: 400;
  }
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_table ._noneline small {
    font-size: 0.1rem;
  }
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_table ._noneline {
    font-size: 0.1em;
  }
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_table .reception-time_inner_time-table_list_item_check {
    top: 3px;
  }
}
@media screen and (max-width: 768px) {
  .footer_1_left_inner_table .reception-time_inner_time-table_list_item_check::before {
    width: 15px;
    height: 15px;
  }
}
.footer_1_right {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .footer_1_right {
    width: 100%;
  }
}
.footer_1_right_map {
  width: 100%;
  height: 0;
  padding-top: 65%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .footer_1_right_map {
    padding-top: 90%;
  }
}
@media screen and (max-width: 768px) {
  .footer_1_right_map {
    padding-top: 50%;
  }
}
.footer_1_right_map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer_2 {
  background-color: #91C3E0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_2_inner {
  margin: 3% auto 0;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .footer_2_inner {
    width: 90%;
  }
}
.footer_2_inner_nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_2_inner_nav_list li {
  transition: 0.2s;
}
@media screen and (max-width: 480px) {
  .footer_2_inner_nav_list li:last-child {
    display: none;
  }
}
.footer_2_inner_nav_list li:hover {
  transition: 0.2s;
  opacity: 0.5;
}
.footer_2_inner_nav_list li a {
  color: #fff;
  font-size: 0.9rem;
}
@media screen and (max-width: 768px) {
  .footer_2_inner_nav_list li a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .footer_2_inner_nav_list li a {
    font-size: 0.3rem;
  }
}
.footer_2_inner_sns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin: 7% auto 3%;
}
.footer_2_inner_sns li {
  transition: 0.2s;
}
.footer_2_inner_sns li:hover {
  transition: 0.2s;
  transform: translateY(-5px);
}
.footer_2_inner_sns li a {
  color: #fff;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .footer_2_inner_sns li a {
    font-size: 1.25rem;
  }
}
.footer_2_inner small {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
}
@media screen and (max-width: 768px) {
  .footer_2_inner small {
    font-size: 0.3rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: #fff;
  height: 110px;
  padding: 10px 12px 10px 28px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 10px 20px;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 77px;
  }
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header_wrapper_left {
  width: 9%;
}
@media screen and (max-width: 768px) {
  .header_wrapper_left {
    width: 14%;
  }
}
@media screen and (max-width: 480px) {
  .header_wrapper_left {
    width: 22%;
  }
}
.header_wrapper_left img {
  width: 100%;
}
.header_wrapper_right_nav_list {
  display: flex;
  align-items: center;
}
.header_wrapper_right_nav_list_item a {
  padding-right: 1.1rem;
  font-size: 0.9rem;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .header_wrapper_right_nav_list_item a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .header_wrapper_right_nav_list_item a {
    line-height: 3;
    font-size: 1.1rem;
  }
}
.header_wrapper_right_nav_list_item a:hover {
  transition: 0.3s;
  color: #37A1DB;
}
.header_wrapper_right_nav_list_item_tel {
  margin-left: auto;
}
.header_wrapper_right_nav_list_item_tel_inner span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 1%;
}
.header_wrapper_right_nav_list_item_tel_inner_item {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}
.header_wrapper_right_nav_list_item_tel_inner_item_img {
  width: 2.6rem;
  align-items: center;
}
.header_wrapper_right_nav_list_item_tel_inner_item_img img {
  width: 100%;
  align-items: center;
  margin-top: 10%;
}
.header_wrapper_right_nav_list_item_tel_inner_item_num {
  font-weight: 500;
  color: #37A1DB;
  font-size: 1.5rem;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header_wrapper_right_nav_list_item_tel_inner_item_num {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .header_wrapper_right_nav_list ._tabnone {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh; /*ナビの高さ*/
    background: rgba(255, 255, 255, 0.8);
    /*動き*/
    transition: all 0.6s;
  }
  #g-nav.panelactive {
    right: 0; /*アクティブクラスがついたら位置を0に*/
  }
  #g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh; /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/*ナビゲーション*/
@media screen and (max-width: 768px) {
  #g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: block;
  }
}

/*リストのレイアウト設定*/
@media screen and (max-width: 768px) {
  #g-nav li {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  #g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    white-space: nowrap;
  }
}

/*========= ボタンのためのCSS ===============*/
@media screen and (max-width: 768px) {
  .openbtn {
    position: fixed;
    z-index: 9999;
    top: 18px;
    right: 0px;
    cursor: pointer;
    width: 79px;
    height: 40px;
  }
  .openbtn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #91C3E0;
    width: 45%;
  }
  .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  .openbtn span:nth-of-type(2) {
    top: 30px;
  }
  .openbtn span:nth-of-type(3) {
    top: 45px;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .openbtn {
    right: -11px;
    top: 7px;
    width: 75px;
  }
  .openbtn span:nth-of-type(2) {
    top: 28px;
  }
  .openbtn span:nth-of-type(3) {
    top: 43px;
  }
}

/*スクロール途中でヘッダーが表示非表示*/
#header.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
#header.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
